<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crop_recommend.css') }}">
</head>
<body>
    <h1>Crop Recommendation</h1>
    <form action="/crop_recommend" method="POST">
        <label for="N">Nitrogen (N):</label>
        <input type="number" step="any" name="N" required><br>
        <label for="P">Phosphorus (P):</label>
        <input type="number" step="any" name="P" required><br>

        <label for="K">Potassium (K):</label>
        <input type="number" step="any" name="K" required><br>

        <label for="temperature">Temperature (C):</label>
        <input type="number" step="any" name="temperature" required><br>

        <label for="humidity">Humidity:</label>
        <input type="number" step="any" name="humidity" required><br>

        <label for="ph">pH:</label>
        <input type="number" step="any" name="ph" required><br>

        <label for="rainfall">Rainfall:</label>
        <input type="number" step="any" name="rainfall" required><br>

        <button type="submit">Recommend Crop</button>
    </form>

    {% if result %}
            <h2>{{ result }}</h2>
    {% endif %}
</body>
</html>